In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
from random import randint
import random
df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe?


2. What information can we obtain about a dataframe?


3. How have we interacted with a dataframe?

In [5]:
pk = df
pk

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

---

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument. 


2. Which Pokemon possess(es) the highest HP value?

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument
    

4. Number of Pokemon whose Type 2 is Ghost


5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument


6. Number of Pokemon whose Attack is greater than Defense


8. Lowest speed for Grass or Rock


10. Change all the column names

      - lowercase letters
      - remove whitespace


11. Rename Sp. Attack to special-attack


12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense
  

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?


15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---
### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [ ]:
''' Information about a dataframe
1. Obtain the following information:
    * dimensions
    * dtypes
    * column names
    * summary statistics '''

In [11]:
pk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [12]:
pk.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [13]:
pk.shape

(800, 13)

In [ ]:
'''Working with dataframes'''
# 1. What is the highest HP value present?
#    * Create a function named highest_attack.
#    * Use the loaded dataframe as an argument.

In [33]:
pk.sort_values('Attack').tail(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [ ]:
# 2. Which Pokemon possess(es) the highest HP value?

In [34]:
pk.sort_values('HP').tail(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [ ]:
# 3. How many different types are represented in Type 1?
    * Create a function named num_types
    * Use the loaded dataframe as an argument

In [44]:
len(pk['Type 1'].unique())

18

In [51]:
# 4. Number of Pokemon whose Type 2 is Ghost

14

In [63]:
len(pk[pk['Type 2'] == 'Ghost'])

14

In [ ]:
# 5. Percentage of Pokemon whose Type 2 is Ghost
#    * Create a function named percent_ghost
#        * Use the loaded dataframe as an argument

In [61]:
def percent_ghost(arg):
    num_ghost = len(arg[arg['Type 2'] == 'Ghost'])
    num_total = len(arg)
    return (num_ghost / num_total) * 100

In [62]:
percent_ghost(pk)

1.7500000000000002

In [ ]:
# 6. Number of Pokemon whose Attack is greater than Defense

In [69]:
 len(df[df['Attack'] > df['Defense']])

433

In [ ]:
# 7. Lowest speed for Grass or Rock

In [75]:
grass_rock = pk[(pk['Type 1'] == 'Grass') | (pk['Type 1'] == 'Rock') | (pk['Type 2'] == 'Grass') | (pk['Type 2'] == 'Rock')]
lowest_speed = grass_rock['Speed'].min()
print(lowest_speed)
#shuckle weakest yet yest one of the most defensive pokemon. highest defence and special defence!

5