In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe?


2. What information can we obtain about a dataframe?


3. How have we interacted with a dataframe?

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

---

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument. 


2. Which Pokemon possess(es) the highest HP value?

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument
    

4. Number of Pokemon whose Type 2 is Ghost


5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument


6. Number of Pokemon whose Attack is greater than Defense


8. Lowest speed for Grass or Rock


10. Change all the column names

      - lowercase letters
      - remove whitespace


11. Rename Sp. Attack to special-attack


12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense
  

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?


15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---
### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [2]:
df.shape

(800, 13)

In [3]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

1. What is the highest HP value present?
Create a function named highest_attack.
Use the loaded dataframe as an argument.

In [7]:
df.HP.max()

255

In [8]:
def highest_attack(data):
    return data.Attack.max()

In [9]:
highest_attack(df)

190

2. Which Pokemon possess(es) the highest HP value?

In [10]:
df.sort_values('HP', ascending=False).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

3. How many different types are represented in Type 1?
Create a function named num_types
Use the loaded dataframe as an argument

In [11]:
def num_types(data):
    return data['Type 1'].nunique()

In [12]:
num_types(df)

18

4. Number of Pokemon whose Type 2 is Ghost

In [13]:
len(df[df['Type 2'] == 'Ghost'])

14

5. Percentage of Pokemon whose Type 2 is Ghost
Create a function named percent_ghost
Use the loaded dataframe as an argument

In [14]:
def percent_ghost(data):
    return round(len(data[data['Type 2'] == 'Ghost']) / len(data) * 100, 2)

In [15]:
percent_ghost(df)

1.75

6. Number of Pokemon whose Attack is greater than Defense

In [16]:
len(df[df['Attack'] > df['Defense']])

433

Lowest speed for Grass or Rock

In [17]:
df[(df['Type 1']=='Grass') | (df['Type 2'] == 'Grass') 
   | (df['Type 1'] == 'Rock')].Speed.min()

10

Change all the column names
lowercase letters
remove whitespace

In [18]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [19]:
df = df.rename(columns={'Name':'name', 'Type 1':'type_1', 'Type 2':'type_2',
                  'Total':'total', 'HP':'hp', 'Attack':'attack', 'Defense':'defense',
                  'Sp. Atk':'sp_atk', 'Sp. Def':'sp_def', 'Speed':'speed', 
                   'Generation':'generation', 'Legendary':'legendary'})

Rename Sp. Attack to special-attack

In [20]:
df = df.rename(columns={'sp_atk':'special-attack'})

Rename Sp. Def to special-defense

In [21]:
df = df.rename(columns={'sp_def':'special-defense'})

Which Pokemon has/have the greatest difference in:
Attack and Defense points
Special Attack and Special Defense

In [22]:
df['att_diff'] = abs(df.attack - df.defense)
df['sp_att_diff'] = abs(df['special-attack'] - df['special-defense'])

In [23]:
df[df.att_diff == df.att_diff.max()]

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,att_diff,sp_att_diff
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,220,220

In [24]:
df[df.sp_att_diff == df.sp_att_diff.max()]

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,att_diff,sp_att_diff
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,220,220

How many Pokemon are of Type 1 Rock and Type 2 Fairy?

In [25]:
len(df[(df.type_1 == 'Rock') & (df.type_2 == 'Fairy')])

3

Which Fire Pokemon appears last alphabetically?
Create a function named last_pokemon
Use the loaded dataframe as an argument

In [26]:
def last_pokemon(data):
    return data[data.type_1 == 'Fire'].name.sort_values(ascending=False).head(1)

In [27]:
last_pokemon(df)

42    Vulpix
Name: name, dtype: object

Find the average speed by Generation

In [47]:
df.groupby('generation').agg('mean').speed.round(1)

generation
1    72.6
2    61.8
3    66.9
4    71.3
5    68.1
6    66.4
Name: speed, dtype: float64

Create a function which acccepts:
- a dataframe
- two different Pokemon stats e.g. Attack and Defense

The function will:
- Calculate difference between the two given Pokemon stats
- Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [48]:
def stats_diff(data, stat_1, stat_2):
    data['stats-diff'] = abs(stat_1 - stat_2)

In [49]:
stats_diff(df, df.attack, df.defense)

In [50]:
df

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,att_diff,sp_att_diff,stats-diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1,0,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1,0,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,23,2,23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9,10,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,50,50,50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50,50,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50,20,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100,40,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,10,40,10